html {
    height: 100%;
}
body {
    font-size: 100%;
    font-family: @sans;
    color: @text;
}

// paragraphs
p {
    margin: 0.5em 0;
}
// emphasis
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

// links
a {
    color: @links;
    &:hover, &:active, &:focus {
        color: @links-hover;
        text-decoration: underline;
    }
}

// headings
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 0.45em;
}

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}

.accessibility {
    position: absolute !important;
    font-size: 0;
    text-indent: -500000px;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    opacity: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

.center {
    text-align: center;
}
#overlay, #modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8) ;
    z-index: 999;
    &.transparent {
        background-color: rgba(0, 0, 0, 0) ;
    }
    &.opaque {
        background-color: rgba(0, 0, 0, 1) ;
    }
}

header[role="banner"] {
    background: @header-bg;
    color: @header-text;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 55px;
    h1 {
        font-weight: normal;
        font-size: 28px;
        font-family: @simplepass;
        margin: 0 40px;
        a {
            color: @header-text;
            &:hover {
                text-decoration: none;
                color: @header-text;
            }
        }
    }
    .top-links {
        position: absolute;
        top: 0;
        right: 40px;
        display: flex;
    }
    // we target first level links or buttons
    // to do not apply style to children
    .top-link {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
        height: 38px;
        padding: 8px 25px;
        color: @header-text;
        &:hover, &:active, &:focus {
            text-decoration: none;
            background: @header-links-bg-hover;
        }
        &.selected {
            background: @header-links-bg-hover;
        }
    }
    // we reset buttons style
    button.top-link {
        border: none;
        background: none;
        font-weight: normal;
        border-radius: 0;
        font-size: 100%;
        box-sizing: content-box;
        margin: 0;
    }
}

header#main-header {
    height: 100vh;
    min-height: 400px;
    background-image: url('../graphics/svg/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    .text-wrapper {
        margin: auto;
        text-align: center;
    }
    h1 {
        font-weight: normal;
        font-size: 48px;
        margin-bottom: 20px;
    }
    h2 {
        font-weight: normal;
        font-size: 24px;
        margin-bottom: 40px;
    }
}

.red {
    color: @red;
}
.colored {
    color: @main-blue;
}

article#column-form {
    box-sizing: border-box;
    width: 400px;
    margin: 80px auto;
    padding: 0 60px;
    h1 {
        text-align: center;
        padding-bottom: 20px;
    }
    footer {
        text-align: center;
    }
}

.spinner {
    margin: 60px 0;
    font-size: 1.3em;
    text-align: center;
    img {
        @keyframes rotating {
          from {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          to {
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
        border: none;
        margin-bottom: 30px;
        animation: rotating .6s steps(12) infinite;
    }
}

.dropdown-link {
    position: relative;
    div {
        padding-left: 25px;
    }
    &:before {
        left: 25px;
        top: 25px;
        .arrow-down(@header-text, 6px, 6px)
    }
}
.dropdown-menu {
    z-index: 1000; // we place it upon overlay
    padding: 0;
    position: absolute;
    top: 60px;
    right: 10px;
    min-width: 200px;
    display: block;
    background-color: @context-bg;
    border: 1px solid @context-border;
    border-radius: 3px;
    text-align: left;
    li {
        margin: 10px 0;
        padding: 0;
        width: auto;
        white-space: nowrap;
        position: relative;
        a {
            text-decoration: none;
            color: @context-text;
            display: block;
            padding: 5px 20px;
            height: auto;
            &:hover, &:focus, &:active {
                color: @context-item-hover;
                background: @context-item-bg-hover;
            }
        }
    }
}
.locked {
    background: url('../graphics/svg/lock.svg') center center no-repeat;
    background-size: contain;
    height: 25px;
    width: 12px;
    span {
        .accessibility
    }
}
.unlocked {
    background-image: url('../graphics/svg/lock-open.svg');
    //.accessibility
}
