// Colors definition
// from lighter to darker per colors

/* blues */
@blue1: #4074B7;
@blue2: #346096;
@main-blue: #284A74; 
@blue3: #213E60;

/* greys */
@white: #FFF;
@grey1: #F9F9F9;
@grey2: #DCDCDC;
@grey3: #CCC;
@grey4: #B1B1B1;
@grey5: #969696;
@grey6: #797979;
@grey7: #575757;
@grey8: #414141;
@grey9: #222;
@black: #000;

/* others */
@red: #970000;
@error: @red;
@error-background: rgba(150, 0, 0, 0.08);   // form's error lists background
@warning: #D69019;           // Orange
@warning-background: rgba(214, 144, 25, 0.08);        // form's warning lists background



// Places
/* normal text */
@text: @grey7;

/* headers */
@header-bg: @main-blue; // banner headers background
@header-text: @white; // banner headers text
@header-links-bg-hover: rgba(255,255,255,0.1); // header links background on hover or selected

/* links */
@links: @main-blue; // links
@links-hover: @blue3; // links hover

/* buttons, submit, links button */
@buttons: @grey7; // buttons text
@buttons-hover: @grey8; // buttons text on hover
@buttons-border: @grey3; // buttons borders
@buttons-border-hover: @grey8; // buttons borders on hover
@buttons-bg: @white; // buttons background

/* primary buttons and submits */
@buttons-primary: @white; // primary buttons text
@buttons-primary-bg: @main-blue; // primary buttons background
@buttons-primary-bg-hover: @blue2; // primary buttons background on hover

/* secondary buttons and submits */
@buttons-secondary: @main-blue; // secondary buttons text
@buttons-secondary-hover: @white; // secondary buttons text on hover
@buttons-secondary-border: @main-blue; // secondary buttons borders
@buttons-secondary-bg-hover: @main-blue; // secondary buttons background on hover

/* reversed buttons (for blue background */
@buttons-reversed: @white; // reversed buttons text
@buttons-reversed-hover: @main-blue; // reversed buttons text on hover
@buttons-reversed-border: @white; // reverdes buttons borders
@buttons-reversed-bg: @main-blue; // reversed buttons background
@buttons-reversed-bg-hover: @white; // revered buttons background on hover

/* inputs */
@inputs: @grey7; // inputs text
@inputs-bg: @white; // inputs background
@inputs-border: @grey3; // inputs borders
@inputs-border-hover: @grey4; // inputs borders on hover
@inputs-border-focus: @blue1; // inputs borders on focus


@form-title: @grey7; // form titles




