@import (reference) "~public/global-styles/palette.less";

// base class for buttons, inputs type=submit
.btn {
    height: 46px;
    width: auto;
    padding: 3px 23px;
    margin: 5px 0 0 0;
    text-align: center;
    text-decoration: none;
    border: 1px solid;
    box-sizing: border-box;
    display: inline-block;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: none;
}

.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}


// default buttons
.default {
    composes: btn;
    color: @grey7;
    border-color: @grey3;
    background: none; 
    &:hover, &:focus, &:active {
        text-decoration: none;
        color: @grey8;
        border-color: @grey8;
    }
}

.disabledDefault {
    composes: default;
    composes: disabled;
    // nothing happens on hover, active, focus
    &:hover, &:focus, &:active {
        color: @grey7;
        border-color:  @grey3;
    }
}

.max {
    width: 100%;
}

